/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/UserSettings/
.vs/
.vscode/
.DS_Store
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
/.idea
/build/Android.Project
/Assets/StreamingAssets/AssetBundles
/Assets/AddressableAssetsData/Android
/ProjectSettings/ProjectVersion.txt
/Assets/StreamingAssets/ab
/Assets/StreamingAssets/ab.meta
/output/
A_ScoreBUILD_DEBUGFiles
A_ScoreBattle_LogFiles
.vsconfig
/Packages/packages-lock.json
battle_record
battle_proto
ProjectSettings/ProjectVersion.txt
/APK
/MemoryCaptures/
doc/Shader/
assetcheck.log
code_analyze_result.json
config.yaml
fix_report.yaml
rule_report.yaml
hooks/
lfs/
build/tools/YiDunHelper_2.0.4/



/Assets/EXTests
/Assets/EXTests.meta

/Assets/Editor/AssetsCheck/AssetsCheck.xlsx
/Assets/Editor/AssetsCheck/AssetsCheck.xlsx.meta


/Assets/BuildReports
/Assets/BuildReports.meta

HybridCLRData/
/Assets/StreamingAssets/hclr
/Assets/StreamingAssets/hclr.meta